<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>XMLServlet</servlet-name>
        <servlet-class>XMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XML2Servlet</servlet-name>
        <servlet-class>org.flipkart.controllers.XML2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XMLServlet</servlet-name>
        <url-pattern>/XMLServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XML2Servlet</servlet-name>
        <url-pattern>/XML2Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>signin.html</welcome-file>
        <welcome-file>signUp.html</welcome-file>
    </welcome-file-list>
</web-app>
